name: rav1e

on: [push, pull_request]

jobs:
  build-macos:

    strategy:
      fail-fast: false
      matrix:
        conf:
         - cargo-build
         - cargo-test
         - cargo-c
        target:
          - x86_64-apple-darwin
          - aarch64-apple-darwin

    env:
      RUST_BACKTRACE: full
      RUSTC_WRAPPER: sccache
      SCCACHE_CACHE_SIZE: 300M
      SCCACHE_DIR: /Users/runner/Library/Caches/Mozilla.sccache

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install sccache
      run: |
        brew install sccache
    - name: Install nasm
      run: |
        brew install nasm
    - name: Install cargo-c
      if: matrix.conf == 'cargo-c'
      run: |
        brew install cargo-c
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: beta
        override: true
        target: ${{ matrix.target }}
    - name: Generate Cargo.lock and Cargo.version
      run: |
        cargo update
        cargo --version > Cargo.version
    - name: Cache cargo registry
      uses: actions/cache@v2
      continue-on-error: true
      with:
        path: ~/.cargo/registry/cache
        key: ${{ runner.os }}-${{ matrix.conf }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.conf }}-cargo-registry-
    - name: Cache sccache output
      uses: actions/cache@v2
      continue-on-error: true
      with:
        path: /Users/runner/Library/Caches/Mozilla.sccache
        key: ${{ runner.os }}-${{ matrix.conf }}-sccache-${{ hashFiles('**/Cargo.*') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.conf }}-sccache-
    - name: Start sccache server
      run: |
        sccache --start-server
    - name: Build
      if: matrix.conf == 'cargo-build'
      run: |
        cargo build --release --target=${{ matrix.target }}
    - name: Test
      if: matrix.conf == 'cargo-test'
      run: |
        cargo test --workspace --verbose --target=${{ matrix.target }}
    - name: Run cargo-c
      if: matrix.conf == 'cargo-c'
      run: |
        cargo cbuild --target=${{ matrix.target }}
    - name: Stop sccache server
      run: |
        sccache --stop-server
